<footer class="footer bg-dark py-3 mt-auto">
  <div class="container text-center">
    <span class="text-secondary d-block mb-2">&copy; おじさんのポートフォリオサイト</span>
    
    <a href="https://x.com/WebWebenjinia72" target="_blank" class="text-light me-3">
      <i class="fab fa-x-twitter fa-lg"></i>
    </a>
    
    <a href="https://note.com/junya4757" target="_blank" class="text-light">
      note
    </a>
  </div>
</footer>
