<footer class="footer bg-dark py-3 mt-auto">
  <div class="container text-center">
    <span class="text-secondary d-block mb-2">&copy; junyaのポートフォリオサイト</span>
    
    <a href="https://x.com/WebWebenjinia72" target="_blank" class="text-light mx-2">
      <i class="fab fa-x-twitter fa-lg"></i>
    </a>
    
    <!-- <a href="https://note.com/junya4757" target="_blank" class="text-light">
      <img src="images/noteアイコン.webp" alt="note" style="height: 24px;width: 24px;">
    </a> -->

    <a href="https://coconala.com/users/あなたのユーザーID" target="_blank" class="mx-2">
      <img src="images/ココナラ.jpg" alt="ココナラ" style="height: 24px;">
    </a>

    <a href="https://www.lancers.jp/profile/あなたのユーザーID" target="_blank" class="mx-2">
      <img src="https://www.lancers.jp/favicon.ico" alt="ランサーズ" style="height: 24px;">
    </a>

    <a href="https://crowdworks.jp/public/employees/あなたのユーザーID" target="_blank" class="mx-2">
      <img src="https://crowdworks.jp/favicon.ico" alt="クラウドワークス" style="height: 24px;">
    </a>

  </div>

</footer>
