html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer a {
  text-decoration: none;
  border: none;
}

footer a img {
  display: inline-block;
  vertical-align: middle;
}

footer a:focus,
footer a:active {
  outline: none;
}

footer .social-links {
  display: flex;
  justify-content: center;  /* 中央寄せ */
  gap: 16px;                /* アイコン間のスペース */
  flex-wrap: wrap;          /* スマホ時折り返し対応 */
}

.card-img-top {
  height: 200px;        /* 画像の高さを統一 */
  object-fit: cover;    /* 中央で切り取り表示 */
}

 h1 {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #343a40; 
  margin-bottom: 1.5rem;
} 