<% layout("layouts/boilerplate") %>
    <div class="container d-flex align-items-center justify-content-center" style="height: 100vh;">
        <div class="row align-items-center">
            <div class="col-6">
                <h2 class="">ようこそ！</h2>
                <p>おじさんのポートフォリオサイトです。<br>HPの作成はお任せください！</p>
            </div>
            <div class="col-6 text-center">
                <img src="/images/profile.png" alt="プロフィール写真" class="img-fluid" style="max-height: 500px;">
            </div>
            
        </div>
    </div>