<% layout("layouts/boilerplate") %>
<h1 class="fw-bold text-dark mb-3 mt-3 ms-3">実績一覧</h1>
<div class="d-flex gap-4 flex-wrap ps-4">
  <div class="card" style="width: 20rem;">
  <img src="images/yelpcamp_thumbnail.png" class="card-img-top" alt="YelpCampのサムネイル">
  <div class="card-body">
    <h5 class="card-title">YelpCamp（キャンプ場レビュー投稿サイト）</h5>
    <p class="card-text">全国のキャンプ場を登録できることを想定したアプリです。CRAD操作、認証認可など基本的な機能を実装しています。</p>
    <a href="yelpcamp" class="btn btn-primary">アプリ詳細</a>
  </div>
</div>

<div class="card" style="width: 20rem;">
  <img src="images/coffeeshop_thumbnail.png" class="card-img-top" alt="coffeeshopのサムネイル">
  <div class="card-body">
    <h5 class="card-title">THE LITTLE CAFE（架空のカフェサイト）</h5>
    <p class="card-text">架空のカフェショップのHPを作成しました。きたしょーさんのデザインカンプを使用させていただいています。</p>
    <a href="coffeeshop" class="btn btn-primary">アプリ詳細</a>
  </div>
</div>
</div>

<div class="card" style="width: 20rem;">
  <img src="images/animalhospital.png" class="card-img-top" alt="animalhospitalのサムネイル">
  <div class="card-body">
    <h5 class="card-title">junya動物病院（架空の動物病院サイト）</h5>
    <p class="card-text">架空の動物病院のHPを作成しました。きたしょーさんのデザインカンプを使用させていただいています。</p>
    <a href="animalhospital" class="btn btn-primary">アプリ詳細</a>
  </div>
</div>
</div>